<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="../public/script/styles.css">
    <script defer src="../public/script/dashboard.js"></script>
</head>
<body>
    <button>CREATE</button>
    <div id="search-conditions">
        
    </div>
    <section id="entries">
        <ul>
        </ul>
    </section>
    <div id="full-entry" class="modal">
        <div class="modal-content">
            <span id="close">&times;</span>
            <h5 class="timestamp">timestamp</h5>
            <h5 class="category">category</h5>
            <h2 class="title">TITLE</h2>
            <h3 class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatem repellendus dolorem expedita quam dolore dolorum sed, at, accusamus, ullam eos voluptate tenetur minima neque illo. Debitis illum dolorem veritatis?</h3>
        </div>
    </div>
</body>
</html>